% include('main.tpl')

% label = label if defined('label') else ""

<form action="/groups-tasks" method="post">
<p>Название задачи:
<textarea cols=30 rows=1 name="label">{{label}}</textarea></p>
<p>Социальная сеть:
<select name="social">
    <option value="inst">Инстаграм</option>
</select>
<p>Добавить группы:</p>
<p style="color: gray;font-style: italic;">Примеры:<br>
- Инстаграм (хэштеги): #chelyabinsk #chel #cats</p>
<textarea cols=50 rows=3 name="keyword_task"></textarea>
<p><input value="Добавить группы для парсинга" type="submit" /></p>
</form>

% include('notification.tpl')