% include('main.tpl')

<head>
    <script type="text/javascript">
     function create_table_template(){

        var xhttp = new XMLHttpRequest();
        xhttp.open('POST', '/upload_template');

        var  body ='social=*all*' + '&title=*all*'

        xhttp.send(body);

        xhttp.onreadystatechange = function() {

            if (xhttp.readyState != 4) return;

            try {
                console.log("Posts GOT");
                var response = JSON.parse(xhttp.responseText);
                console.log(response);
                console.log(response['info']);

                if (response['result'] == 'true'){

                    id = 'table_template_tbody';
                    var element = document.getElementById(id);

                    while (element.firstChild) {
                        element.removeChild(element.firstChild);
                    }

                    for (i=0;i<response['info'].length;i++){

                        social = '"' + response['info'][i]['social'] +'"'
                        title = '"' + response['info'][i]['title'] + '"'
                        description = response['info'][i]['description']

                        var tr = document.createElement('tr')
                        new_template = false
                        tr.id = title
                        tr.innerHTML = "<td>" + social +" </td> <td>" + title +" </td>  <td>"+ description + "</td> <td><img width='30' src='images/eye_monitor.png' onclick='upload_template(" +social + "," + title +","+ new_template +")'> </td> <td> <input type='button' value='  X  ' onclick='del_template(" +social + "," + title +")'> </td>"
                        element.appendChild(tr)
                    }

                    var tr = document.createElement('tr')
                    tr.id = 'tr_create_template'
                    tr.innerHTML = '<td> <input readonly="readonly" value="vk" id="social_create_template" name="social_create_template" type="text"> </td> <td> <input id="title_create_template" name="title_create_template" type="text"> </td>  <td> <input type="button" value="  Создать шаблон  " onclick="upload_template()"> </td>'
                    element.appendChild(tr)

                    //document.getElementById('table_add_template').innerText = " "
                    changes_select_template(social, title, new_template)
                }
                else{
                  if(response['result']){
                    error_info(response['result'])
                  }

                  else{
                    error_info('False')
                  }
                }
            }
            catch(e) {
                console.log("Problem in JSON.parse")
                console.log(e);
                //error_info(str(e))
                var response = []
            }
        }
     }
    document.addEventListener("DOMContentLoaded", create_table_template);

    </script>



</head>
<body>
    <h2> Тестовый аккаунт бота</h2>

    <form id="bots_login_editing" method="post" >

            <input name="bots_login" type="hidden" value="false">

            <table>
                <tr>

                    <td><label for="loginField">Логин</label></td>
                    <td>
                        <input readonly="readonly" id="loginField" type="text" name="login" value="89227064082">
                        <script>
                            var input = document.getElementById("loginField");

                            input.oninput = function() {
                                id = 'bots_editing_text';
                                document.getElementById(id).style.visibility = "hidden";
                            };
                        </script>

                    </td>
                </tr>
                <tr>
                    <td><label for="passwordField">Пароль</label></td>
                    <td>
                        <input readonly="readonly" id="passwordField" name="password" type="text" value="IS4082">
                        <script>
                          var input = document.getElementById("passwordField");

                          input.oninput = function() {
                            id = 'bots_editing_text';
                            document.getElementById(id).style.visibility = "hidden";
                          };
                        </script>
                    </td>

                    <td valign="top" width="75%" >
                        <h4 id="field_error_info" align="center"></h4>
                    </td>
                <tr>
<!--                    <td colspan="2" style="text-align: center"><input id="loading_prof" type="button" value="  Изменить тестовый аккаунт бота  " onclick="create_st('bots_login')"> </td>-->
                </tr>


            </table>

<!--            <td colspan="2" style="text-align: center">-->
<!--                        <input type="button" value=" Шаблон  " onclick='upload_template("vk", "test")'>-->
<!--            </td>-->
        </form>

        <hr>
        <hr>

        <p>
            <h2>Редактирование шаблона профиля</h2>

        </p>

    <!--------------------------------------------------------------------------------------------------------------------------------------->
    <!--------------------------------------------------------------------------------------------------------------------------------------->
        <input readonly="readonly" id="social_base" name="social_base" type="text" value = "" style = "visibility: hidden" >
        <input readonly="readonly" id="title_base"  name="title_base"  type="text" value = "" style = "visibility: hidden" >

                <div style="float: right" >
                    <table id="table_template" class="sort" >

    <!--                    <thead>-->
                            <tr>
                                <td ><strong  style="line-height: 50px">Соц. сеть</strong></td>
                                <td ><strong  style="line-height: 50px">Название</strong></td>
                                <td ><strong style="line-height: 50px">Описание</strong></td>
                                <td ><strong style="line-height: 50px">Посмотреть</strong></td>
                                <td ><strong style="line-height: 50px">Удалить</strong></td>
                            </tr>

    <!--                    </thead>-->
                        <tbody id ="table_template_tbody">

                        </tbody>
                    </table>

                    <h id="table_add_template"></h>

                </div>

                <div style="float: left">

                    <form id="bots_editing_text" id="Edit" method="post" style = "visibility: hidden" >

<!--                        <p >-->
<!--                            <a id ="link" href = "">Ссылка на страницу</a>-->
<!--                        </p>-->

                        <table id="table_Основное" >

                             <p >
                                <h3>Основное</h3>
                            </p>

                            <tr>
                                <td><strong style="line-height: 50px">Название</strong></td>
                                <td> <input type="text" id="title" name="title"> </td>
                            </tr>
                            <tr>
                                <td><strong style="line-height: 50px">Описание</strong></td>
                                <td><textarea id="description" name="description"> </textarea></td>
                            </tr>

                            <tr>
                                <td><label><strong style="line-height: 50px"> Соц. сеть</strong></label></td>
                                <td><input readonly="false"  type="text" id="social" value="vk" name="social"></td>
                            </tr>

                            <tr>
                                <td id = "bdate"><strong style="line-height: 50px">Дата рождения</strong></td>

                                <td>
                                        <input style="width:22px;height:20px" type="text" id ="dd" name="dd"> .
                                        <input style="width:22px;height:20px" type="text" id="mm" name="mm"> .
                                        <input style="width:40px;height:20px" type="text" id="yyyy" name="yyyy">
                                </td>

                            </tr>

                            <tr>
                                <td><strong style="line-height: 50px">Пол</strong></td>
                                 <td>
                                     <form id = "sex">
                                        <br>
                                        <label>
                                            <input type="radio" id="sex_woman" name="sex" value="1" onchange="changes_edu_status('w')" onclick="changes_edu_status('w')">
                                            Женский
                                        </label>

                                        <br>

                                        <label>
                                            <input type="radio" id="sex_man"  name="sex"  value="2" onchange="changes_edu_status('m')" onclick="changes_edu_status('m')">
                                            Мужской
                                        </label>
                                    </form>
                                 </td>
                            </tr>

                            <tr>
                                <td><strong style="line-height: 50px">Cемейное положение</strong></td>
                                <td> <select id="relation" name="relation">
                                        <option value="0">не указано</option>
                                        <option value="1">не женат/не замужем</option>
                                        <option value="2">есть друг/есть подруга</option>
                                        <option value="3">помолвлен/помолвлена</option>
                                        <option value="4">женат/замужем</option>
                                        <option value="5">всё сложно</option>
                                        <option value="6">в активном поиске</option>
                                        <option value="7">влюблён/влюблена</option>
                                        <option value="8">в гражданском браке</option>
                                    </select>
                                </td>

                            </tr>

                            <tr>
                                <td><strong style="line-height: 50px">Девичья фамилия</strong></td>
                                <td><input type="text" id="maiden_name" name="maiden_name"></td>
                            </tr>



                            <tr>
                                <td><strong style="line-height: 50px">Родной город</strong></td>
                                <td> <input type="text" id="home_town" name="home_town"> </td>
                            </tr>

                            <tr>
                                <td><strong style="line-height: 50px">Статус</strong></td>
                                <td> <textarea id="status" name="status"> </textarea></td>
                            </tr>
                        </table>

                        <table id="save_button_base">
                            <tr>
                                <td colspan="2" style="text-align: center">
                                    <input type="button" value=" Save " onclick='send_fields(tag="save_proccess_base", src = "profile_editing", "table_Основное")'>
                                </td>
                                <td>
                                    <h id="save_proccess_base"></h>
                                </td>
                            </tr>
                        </table>
                        <table id="table_Relatives">
                        <hr>
                            <tr id="grandparent">
                                <td><strong style="line-height: 50px">Дедушки, бабушки:</strong></td>
                            </tr>

                            <tr>
                                <td>
                                    <input id='grandparent_button' style = "visibility: inherit" value="Добавить" type="button" onclick="add_fields('grandparent', 'text')" >
                               </td>
                            </tr>

                            <tr id ="parent">
                                <td><strong style="line-height: 50px">Родители:</strong></td>
                            </tr>

                            <tr>
                                <td>
                                    <input id='parent_button' value="Добавить" style = "visibility: inherit" type="button" onclick="add_fields('parent', 'text')" >
                               </td>
                            </tr>

                            <tr id="sibling">
                                <td><strong style="line-height: 50px">Братья, сестры:</strong></td>
                            </tr>

                            <tr>
                                <td>
                                    <input id='sibling_button' value="Добавить" style = "visibility: inherit" type="button" onclick="add_fields('sibling', 'text')" >
                               </td>
                            </tr>

                            <tr id="child">
                                <td><strong style="line-height: 50px">Дети:</strong></td>
                            </tr>

                            <tr>
                                <td>
                                    <input id='child_button' value="Добавить" style = "visibility: inherit" type="button" onclick="add_fields('child', 'text')" >
                               </td>
                            </tr>

                            <tr id="grandchild">
                                <td><strong style="line-height: 50px">Внуки:</strong></td>
                            </tr>

                            <tr>
                                <td>
                                    <input id='grandchild_button' value="Добавить" style = "visibility: inherit" type="button" onclick="add_fields('grandchild', 'text')" >
                               </td>
                            </tr>


                        </table>

                        <table id="save_button_relatives">
                            <tr>
                                <td colspan="2" style="text-align: center">
                                    <input type="button" value=" Save " onclick='send_fields(tag="save_proccess_relatives", src = "set_kindred", "table_Relatives")'>
                                </td>
                                <td>
                                    <h id="save_proccess_relatives"></h>
                                </td>
                            </tr>
                        </table>
                        <hr>

                        <table id="table_Интересы">

                             <p>
                                <h3>Интересы</h3>
                            </p>

                            <font size="3" color="gray" face="TimesNewRoman">
                                * Запрещенные символы (  ';'   '&'   '#?#'  '#=#'  )
                            </font>


                            <tr>
                                <td><strong style="line-height: 50px">Деятельность:</strong></td>
                                <td> <textarea id="activities" name="activities" cols="40" rows="3" pattern="[^&]"> </textarea></td>
                            </tr>

                             <tr>
                                <td><strong style="line-height: 50px">Интересы:</strong></td>
                                <td> <textarea id="interests" name="interests" cols="40" rows="3"> </textarea></td>
                            </tr>

             <tr>
                <td><strong style="line-height: 50px">Любимая музыка:</strong></td>
                <td> <textarea  id="music" name="music" cols="40" rows="3"> </textarea></td>
            </tr>

             <tr>
                <td><strong style="line-height: 50px">Любимые фильмы:</strong></td>
                <td> <textarea id="movies" name="movies" cols="40" rows="3"> </textarea></td>
            </tr>

             <tr>
                <td><strong style="line-height: 50px">Любимые телешоу:</strong></td>
                <td> <textarea id="tv" name="tv" cols="40" rows="3"> </textarea></td>
            </tr>

             <tr>
                <td><strong style="line-height: 50px">Любимые книги:</strong></td>
                <td> <textarea id="books" name="books" cols="40" rows="3"> </textarea></td>
            </tr>

             <tr>
                <td><strong style="line-height: 50px">Любимые игры:</strong></td>
                <td> <textarea id="games" name="games" cols="40" rows="3"> </textarea></td>
            </tr>

            <tr>
                <td><strong style="line-height: 50px">Любимые цитаты:</strong></td>
                <td> <textarea id="quotes" name="quotes" cols="40" rows="3"> </textarea></td>
            </tr>

            <tr>
                <td><strong style="line-height: 50px">О себе:</strong></td>
                <td> <textarea id="about" name="about" cols="40" rows="3"> </textarea></td>
            </tr>



        </table>


      <table id="save_button_interests">
            <tr>
                <td colspan="2" style="text-align: center">
                    <input type="button" value=" Save " onclick='send_fields( tag = "save_proccess_interests", src = "set_interests",  "table_Интересы")'>
                </td>
                <td>
                    <h id="save_proccess_interests"></h>
                </td>
            </tr>
      </table>

        <hr>
        </hr>

        <table id="table_Школьное_образование">

             <p>
                <h3>Школьное образование</h3>
            </p>

            <font size="3" color="gray" face="TimesNewRoman">
                * Значения "Страна" и "Город" подставляются автоматически и могут не совпадать с информацией в профиле
            </font>

            <tr>
                <td><strong style="line-height: 50px">Страна:</strong></td>
                <td>
                    <input type="text" id="schoole_country" name="schoole_country" value="Россия" >
                    <font size="4" color="red" face="Arial">  *</font>
                </td>
            </tr>

             <tr>
                <td><strong style="line-height: 50px">Город:</strong></td>
                <td>
                    <input type="text" id="schoole_city" name="schoole_city" value="Челябинск">
                    <font size="4" color="red" face="Arial">  *</font>
                </td>
            </tr>

            <tr>
                <td><strong style="line-height: 50px">Школа:</strong></td>
                <td><input type="text" id="schools_name" name="schools_name"></td>
            </tr>

            <tr>
                <td><strong style="line-height: 50px">Год начала обучения:</strong></td>
                <td><input type="text" id="schools_year_from" name="schools_year_from"></td>
            </tr>

            <tr>
                <td><strong style="line-height: 50px">Год окончания обучения:</strong></td>
                <td><input type="text" id="schools_year_to" name="schools_year_to"></td>
            </tr>

            <tr>
                <td><strong style="line-height: 50px">Дата выпуска:</strong></td>
                <td><input type="text" id="schools_year_graduated" name="schools_year_graduated"></td>
            </tr>

            <tr>
                <td><strong style="line-height: 50px">Класс:</strong></td>
                <td><input type="text" id="schools_class" name="schools_class"></td>
            </tr>

            <tr>
                <td><strong style="line-height: 50px">Специализация:</strong></td>
                <td><input type="text" id="schools_speciality" name="schools_speciality"></td>
            </tr>
        </table>


      <table id="save_button_school">
            <tr>
                <td colspan="2" style="text-align: center">
                    <input type="button" value=" Save " onclick='send_fields(tag="save_proccess_school", src = "set_school_education",  "table_Школьное_образование")'>
                </td>
                <td>
                    <h id="save_proccess_school"></h>
                </td>
            </tr>
      </table>

        <hr>
        </hr>

        <table id="table_Высшее_образование">

            <p><h3>Высшее образование</h3>

            <tr>
                <td><strong style="line-height: 50px">Страна:</strong></td>
                <td>
                    <input type="text" id="university_country" name="university_country" value="Россия" >
                    <font size="4" color="red" face="Arial">  *</font>
                </td>
            </tr>

             <tr>
                <td><strong style="line-height: 50px">Город:</strong></td>
                <td>
                    <input type="text" id="university_city" name="university_city" value="Челябинск">
                    <font size="4" color="red" face="Arial">  *</font>
                </td>
            </tr>

            <tr>
                <td><strong style="line-height: 50px">Вуз:</strong></td>
                <td><input type="text" id="university_name" name="university_name"></td>
            </tr>

            <tr>
                <td><strong style="line-height: 50px">Форма обучения:</strong></td>
                <td> <select id="education_form" name="education_form">
                        <option value="Не выбрана">Не выбрана</option>
                        <option value="Очная">Очная</option>
                        <option value="Очно-заочная">Очно-заочная</option>
                        <option value="Заочная">Заочная</option>
                        <option value="Экстернат">Экстернат</option>
                        <option value="Дистанционная">Дистанционная</option>
                    </select></td>
            </tr>

            <tr>
                <td><strong style="line-height: 50px">Статус:</strong></td>
                <td>
                    <select name="education_status" id="education_status"></select>
                </td>
            </tr>

            <tr>
                <td><strong style="line-height: 50px">Дата выпуска:</strong></td>
                <td><input type="text" id="university_graduation" name="university_graduation"></td>
            </tr>

        </table>

      <table id="save_button_university">
            <tr>
                <td colspan="2" style="text-align: center">
                    <input type="button" value=" Save " onclick='send_fields(tag="save_proccess_university", vsrc = "set_higher_education",  "table_Высшее_образование")'>
                </td>
                <td>
                    <h id="save_proccess_university"></h>
                </td>
            </tr>
      </table>
         <hr></hr>

        <table id="table_Карьера">

             <p>
                <h3>Карьера</h3>
            </p>

            <tr>
                <td><strong style="line-height: 50px">Страна:</strong></td>
                <td>
                    <input type="text" id="work_country" name="work_country" value="Россия" >
                    <font size="4" color="red" face="Arial">  *</font>
                </td>
            </tr>

            <tr>
                <td><strong style="line-height: 50px">Город:</strong></td>
                <td>
                    <input type="text" id="work_city"  name="work_city" value="Челябинск" value="Челябинск">
                    <font size="4" color="red" face="Arial">  *</font>
                </td>
            </tr>

            <tr>
                <td><strong style="line-height: 50px">Место работы:</strong></td>
                <td> <input type="text" id="career_company" name="career_company"></td>
            </tr>

            <tr>
                <td><strong style="line-height: 50px">Год начала работы::</strong></td>
                <td><input type="text" id="career_from" name="career_from"></td>
            </tr>

             <tr>
                <td><strong style="line-height: 50px">Год окончания работы:</strong></td>
                <td><input type="text" id="career_until" name="career_until"></td>
            </tr>

             <tr>
                <td><strong style="line-height: 50px">Должность:</strong></td>
                <td><input type="text" id="career_position" name="career_position"></td>
            </tr>

        </table>
      <table id="save_button_work">
            <tr>
                <td colspan="2" style="text-align: center">
                    <input type="button" value=" Save " onclick='send_fields(tag="save_proccess_work", src = "set_career",  "table_Карьера")'>
                </td>
                <td>
                    <h id="save_proccess_work"></h>
                </td>
            </tr>
      </table>
        <hr></hr>

        <table id="table_Военная_служба">

             <p>
                <h3>Военная служба</h3>
            </p>

            <tr>
                <td><strong style="line-height: 50px">Страна:</strong></td>
                <td>
                    <input type="text" id="military_country" name="military_country" value="Россия" >
                    <font size="4" color="red" face="Arial">  *</font>
                </td>
            </tr>

             <tr>
                <td><strong style="line-height: 50px">Войсковая часть:</strong></td>
                <td><input type="text" id="military_unit" name="military_unit"></td>
            </tr>

            <tr>
                <td><strong style="line-height: 50px">Год начала работы::</strong></td>
                <td><input type="text" id="military_from" name="military_from"></td>
            </tr>

             <tr>
                <td><strong style="line-height: 50px">Год окончания работы:</strong></td>
                <td><input type="text" id="military_until" name="military_until"></td>
            </tr>

        </table>

      <table id="save_button_military">
            <tr>
                <td colspan="2" style="text-align: center">
                    <input type="button" value=" Save " onclick='send_fields( tag="save_proccess_military", src = "set_rmenu_military",  "table_Военная_служба")'>
                </td>
                <td>
                    <h id="save_proccess_military"></h>
                </td>
            </tr>
      </table>

         <hr></hr>

        <table id="table_Жизненная_позиция">

             <p>
                <h3>Жизненная позиция</h3>
            </p>

            <tr>
                <td><strong style="line-height: 50px">Полит. предпочтения:</strong></td>
                <td>
                    <select id="personal_political" name="personal_political">
                        <option value="Не выбраны">Не выбраны</option>
                        <option value="Индифферентные">Индифферентные</option>
                        <option value="Коммунистические">Коммунистические</option>
                        <option value="Социалистичеcкие">Социалистичеcкие</option>
                        <option value="Умеренные">Умеренные</option>
                        <option value="Либеральные">Либеральные</option>
                        <option value="Консервативные">Консервативные</option>
                        <option value="Монархические">Монархические</option>
                        <option value="Ультраконсервативные">Ультраконсервативные</option>
                        <option value="Либертарианские">Либертарианские</option>
                    </select>
                </td>

            </tr>

            <tr>
                <td><strong style="line-height: 50px">Мировоззрение:</strong></td>
                <td>
                    <select id="personal_religion" name="personal_religion">
                        <option value=""></option>
                        <option value="Православие">Православие</option>
                        <option value="Иудаизм">Иудаизм</option>
                        <option value="Католицизм">Католицизм</option>
                        <option value="Протестантизм">Протестантизм</option>
                        <option value="Ислам">Ислам</option>
                        <option value="Буддизм">Буддизм</option>
                        <option value="Конфуцианство">Конфуцианство</option>
                        <option value="Светский гуманизм">Светский гуманизм</option>
                        <option value="Пастафарианство">Пастафарианство</option>
                    </select>
                </td>

            </tr>
            <tr>
                <td><strong style="line-height: 50px">Главное в жизни:</strong></td>
                <td>
                    <select id="personal_life_main" name="personal_life_main">
                        <option value="Не указано">Не указано</option>
                        <option value="Семья и дети">Семья и дети</option>
                        <option value="Карьера и деньги">Карьера и деньги</option>
                        <option value="Развлечения и отдых">Развлечения и отдых</option>
                        <option value="Наука и исследования">Наука и исследования</option>
                        <option value="Совершенствование мира">Совершенствование мира</option>
                        <option value="Саморазвитие">Саморазвитие</option>
                        <option value="Красота и искусство">Красота и искусство</option>
                        <option value="Слава и влияние">Слава и влияние</option>
                    </select>
                </td>

            </tr>

            <tr>
                <td><strong style="line-height: 50px">Главное в людях:</strong></td>
                <td>
                    <select id="personal_people_main" name="personal_people_main">
                        <option value="Не указано">Не указано</option>
                        <option value="Ум и креативность">Ум и креативность</option>
                        <option value="Доброта и честность">Доброта и честность</option>
                        <option value="Красота и здоровье">Красота и здоровье</option>
                        <option value="Власть и богатство">Власть и богатство</option>
                        <option value="Смелость и упорство">Смелость и упорство</option>
                        <option value="Юмор и жизнелюбие">Юмор и жизнелюбие</option>
                    </select>
                </td>

            </tr>

            <tr>
                <td><strong style="line-height: 50px">Отношение к курению:</strong></td>
                <td>
                    <select id="personal_smoking" name="personal_smoking">
                        <option value="Не указано">Не указано</option>
                        <option value="Резко негативное">Резко негативное</option>
                        <option value="Негативное">Негативное</option>
                        <option value="Компромиссное">Компромиссное</option>
                        <option value="Нейтральное">Нейтральное</option>
                        <option value="Положительное">Положительное/option>
                    </select>
                </td>

            </tr>

            <tr>
                <td><strong style="line-height: 50px">Отношение к алкоголю:</strong></td>
                <td>
                    <select id="personal_alcohol" name="personal_alcohol">
                        <option value="Не указано">Не указано</option>
                        <option value="Резко негативное">Резко негативное</option>
                        <option value="Негативное">Негативное</option>
                        <option value="Компромиссное">Компромиссное</option>
                        <option value="Нейтральное">Нейтральное</option>
                        <option value="Положительное">Положительное/option>
                    </select>
                </td>

            </tr>

             <tr>
                <td><strong style="line-height: 50px">Вдохновляют:</strong></td>
                <td> <textarea id="personal_inspired_by" name="personal_inspired_by" cols="40" rows="3" > </textarea></td>
            </tr>

      <table id="save_button_social">
            <tr>
                <td colspan="2" style="text-align: center">
                    <input type="button" value=" Save " onclick='send_fields(tag="save_proccess_social",src = "set_social","table_Жизненная_позиция")'>
                </td>
                <td>
                    <h id="save_proccess_social"></h>
                </td>
            </tr>
      </table>


        </table>
         </table>

        <hr></hr>
        <hr></hr>
        <hr></hr>

    </form>
</div>
</body>

<script>
    function del_template(social, title){

        result = confirm("Удалиь шаблон " + title + " ?");
        if (result == false){
            console.log('Отмена удаления');
            return
        }
        var xhttp = new XMLHttpRequest();
        xhttp.open('POST', '/del_template');

        var  body ='social='+social + '&title=' + title

        console.log(body);

        xhttp.send(body);

        xhttp.onreadystatechange = function() {

            if (xhttp.readyState != 4) return;

            try {
                  console.log("Posts GOT");
                  var response = JSON.parse(xhttp.responseText);
                  console.log(response);

                  if (response){
                    create_table_template()
                    id = 'bots_editing_text';
                    document.getElementById(id).style.visibility = "hidden";
                  }
                  else{
                    document.getElementById('table_add_template').innerText = "Не удалось удалить "
                  }
            }

            catch(e) {
                console.log("Problem in JSON.parse")
                console.log(e);
                //error_info(str(e))
                var response = []
            }
        }
    }
</script>

<script>
        function changes_select_template(social, title, new_template){

            title_base =  document.getElementById('title_base').value
            table_template_tbody = document.getElementById('table_template_tbody')
            table_elements_tr =  table_template_tbody.getElementsByTagName('tr')

            for(i=0;i<table_elements_tr.length-1;i++){

                id = table_elements_tr[i].id
                img = table_elements_tr[i].getElementsByTagName('img')[0]

                table_elements_tr_td = img.parentElement
                //while (table_elements_tr_td.firstChild) {
                  //  table_elements_tr_td.removeChild(table_elements_tr_td.firstChild);
                //}
                if(id == '"'+title_base+'"'){
                    img.src = 'images/eye.png'
                    //table_elements_tr_td.innerHTML = "<img width='30' height='15.52' src='images/eye.png' onclick='upload_template(" +social + "," + title +","+ new_template +")'>"
                }
                else{
                    img.src = 'images/eye_monitor.png'
                    //table_elements_tr_td.innerHTML = "<img width='30' src='images/eye_monitor.png' onclick='upload_template(" +social + "," + title +","+ new_template +")'>"
                }
            }
        }
</script>

<script>
     function upload_template(social = document.getElementById("social_create_template").value, title = document.getElementById("title_create_template").value, new_template = true ){

        if(new_template){
            document.getElementById('table_add_template').innerText = 'Создание шаблона ...'

        }
        else{
            document.getElementById('table_add_template').innerText = ' '
        }


        var xhttp = new XMLHttpRequest();
        xhttp.open('POST', '/upload_template');

        var  body ='social='+social + '&title=' + title + '&new_template=' + new_template;

        console.log(body);

        xhttp.send(body);

        xhttp.onreadystatechange = function() {

            if (xhttp.readyState != 4) return;

            try {
                  console.log("Posts GOT");
                  var response = JSON.parse(xhttp.responseText);
                  console.log(response);
                  console.log(response['info']);

                  if (response['result'] == 'true'){

                        response['info'] = response['info'][0]

                        social_base = document.getElementById("social_base")
                        social_base.value = response['info']['social']

                        console.log('social_base= '+social_base.value);

                        title_base = document.getElementById("title_base")
                        title_base.value = response['info']['title']

                        console.log('title_base= ' + title_base.value);

                        if(response['info']['sex']==1){
                             document.getElementById('sex_woman').checked=true
                             changes_edu_status('w')
                        }
                        else if (response['info']['sex']==2){
                             document.getElementById('sex_man').checked=true
                             changes_edu_status('m')
                        }

                        for( var key in response['info']){

                           // if (list_innerText.indexOf(key) == -1){

                                //if(response['info'][key]==''){
                                //    response['info'][key]=''
                                //}

                                try{
                                    document.getElementById(key).value = response['info'][key]
                                }
                                catch(e){
                                        //console.log('Нет '+ key);
                                }
                           // }
                        }


                        list_relatives = ['grandparent', 'parent', 'sibling', 'child', 'grandchild']

                        for(i=0;i<list_relatives.length;i++){

                            fields_del = document.getElementsByName(list_relatives[i]+'_del')
                            //console.log('Кол. Удалил = ' + fields_del.length);
                           // console.log(fields_del);

                            for(j=fields_del.length-1;j>=0;j--){
                                del_field(fields_del[j])

                                //console.log('Номер Удалил = ' + j);
                                //console.log(fields_del[j]);
                            }

                            if(response['info'][list_relatives[i]] != " " & response['info'][list_relatives[i]] != "" ){

                                fields = response['info'][list_relatives[i]].split(';')

                                for(j=0;j<fields.length;j++){

                                    add_fields(list_relatives[i],'text')
                                    document.getElementById(list_relatives[i]+j*2).value = fields[j]
                                }
                            }
                        }

                        error_info(' ')
                        id = 'bots_editing_text';

                        document.getElementById(id).style.visibility = "visible";

                        list_innerText = ['first_name','last_name','screen_name'];

                        for(i=0;i<list_innerText.length;i++){

                            try{
                                document.getElementById(list_innerText[i]).innerText = response['info'][list_innerText[i]];
                            }
                            catch(e) {
                                //console.log('Нет'+list_innerText[i]);
                            }
                        }

                        try{
                            arr_bd = response['info']['bdate'].split('.')

                            document.getElementById('dd').value = arr_bd[0]
                            document.getElementById('mm').value = arr_bd[1]
                            document.getElementById('yyyy').value = arr_bd[2]
                            }
                        catch(e){
                            console.log('Нет даты рождения');
                            }

                        create_table_template()

                        if(new_template){
                            document.getElementById('table_add_template').innerText = 'Шаблон создан'
                        }
                        else{
                            document.getElementById('table_add_template').innerText = ' '
                        }
                  }

                  else{
                        document.getElementById('table_add_template').innerText = response['result']
                        id = 'bots_editing_text';
                        document.getElementById(id).style.visibility = "hidden";
                  }
            }

            catch(e) {
                console.log("Problem in JSON.parse")
                console.log(e);
                //error_info(str(e))
                var response = []
            }
        }
     }
</script>

<script>


function album_photo_send(tag, url, field, name_album){

    pr_s = document.getElementById(tag);
    pr_s.innerText = 'Идет сохранение ...';

    //var formData = new FormData();
    var oldForm = document.getElementById('bots_editing_photo')
    var formData = new FormData(oldForm)

    var names = []
    var album_lenght = []

    list_photo = document.getElementsByName(field)
    list_name_album = document.getElementsByName(name_album)

    for(i=0;i<list_photo.length;i++){
        console.log(list_name_album[i].value)
        if(list_name_album[i].value!=""){
            names[i] = list_name_album[i].value
            album_lenght[album_lenght.length] = list_photo[i].files.length
        }
    }

    formData.append('names', names);
    formData.append('album_lenght', album_lenght);
    formData.append('login',  document.getElementById('loginField').value );
    formData.append('password', document.getElementById('passwordField').value);

    console.log(formData);

    var xhttp = new XMLHttpRequest();
    xhttp.open('POST', url);
    xhttp.send(formData);

    xhttp.onreadystatechange = function() {
                if (xhttp.readyState != 4) return;

         try {
              console.log("Posts GOT");
              var response = JSON.parse(xhttp.responseText);
              console.log(response);

              if(response){
                console.log("_Сохранено_");
                pr_s.innerText = 'Сохранено';
              }
              else{
                pr_s.innerText = 'Не удалось сохраненить изменения';
              }
         }

      catch(e) {
          console.log("Problem in JSON.parse")
          console.log(e);
          pr_s.innerText = 'Не удалось сохраненить изменения';
          var response = []
        }
    }
}

 </script>

<script>


function photo_send(tag, url, field){

    pr_s = document.getElementById(tag);
    pr_s.innerText = 'Идет сохранение ...';


    var formData = new FormData();


    formData.append(field, document.getElementById(field).files[0]);
    formData.append('login',  document.getElementById('loginField').value );
    formData.append('password', document.getElementById('passwordField').value);

    console.log(formData);

    var xhttp = new XMLHttpRequest();
    xhttp.open('POST', url);
    xhttp.send(formData);


    xhttp.onreadystatechange = function() {
                if (xhttp.readyState != 4) return;

         try {
              console.log("Posts GOT");
              var response = JSON.parse(xhttp.responseText);
              console.log(response);

              if(response){
                pr_s.innerText = 'Сохранено';
              }
              else{
                pr_s.innerText = 'Не удалось сохраненить изменения';
              }

        }

      catch(e) {
          console.log("Problem in JSON.parse")
          console.log(e);
          pr_s.innerText = 'Не удалось сохраненить изменения';
          var response = []
        }
    }
}


 </script>

<script>

function send_fields(tag, src, id_table){

    title_base = document.getElementById("title_base")
    console.log('title_base= ' + title_base.value);

    table = document.getElementById(id_table);

    list = []

    inputs = table.getElementsByTagName('input')
    selects = table.getElementsByTagName('select')
    textareas = table.getElementsByTagName('textarea')

    for(i=0;i<inputs.length;i++){
        if(inputs[i].type == "text" | inputs[i].type == "radio"){
            list[list.length]=(inputs[i].name)
        }
    }

    for(i=0;i<selects.length;i++){
        list[list.length]=(selects[i].name)
    }

    for(i=0;i<textareas.length;i++){
        list[list.length]=(textareas[i].name)
    }

    pr_s = document.getElementById(tag);
    pr_s.innerText = 'Идет сохранение ...';

    buttob_save = pr_s.parentElement
    buttob_save = buttob_save.parentElement
    buttob_save = buttob_save.getElementsByTagName('input')[0]
    buttob_save.disabled=true

    console.log(src);
    console.log(list);
    var  body ='save_button='+ tag +'&src='+ src +'&value='+'login#=#' + document.getElementById('loginField').value + '#?#password#=#' + document.getElementById('passwordField').value + '#?#social#=#' + document.getElementById('social_base').value + '#?#title#=#' + document.getElementById('title_base').value

    list_relatives = ['grandparent', 'parent', 'sibling', 'child', 'grandchild']

    if(list_relatives.indexOf( list[0] ) != -1 ){

        for(i=0;i<list_relatives.length;i++){

            p = document.getElementsByName(list_relatives[i])

            //console.log(p.length);
            var value = ''

            for(j=0;j<p.length;j++){
                value = value + p[j].value + '[]'
            }
            //console.log(value);
            body = body +'#?#'+ list_relatives[i] +'#=#' + value
        }

    }
    else{
        for(i=0;i<list.length;i++){

            //console.log(list[i]);


            if (list[i]=='sex'){
                if(document.getElementById('sex_woman').checked) {
                    body = body +'#?#'+ list[i] +'#=#'+ document.getElementById('sex_woman').value
                    i++
                }
                else if(document.getElementById('sex_man').checked) {
                    body = body +'#?#'+ list[i] +'#=#'+ document.getElementById('sex_man').value
                    i++
                }
            }

            else if (list[i]=='dd'){
                dd = document.getElementById('dd').value
                mm = document.getElementById('mm').value
                yyyy = document.getElementById('yyyy').value

                body = body +'#?#'+ 'bdate#=#'+ dd + '.'+ mm +'.'+ yyyy

                i = i + 2
            }

            else{body = body +'#?#'+ list[i] +'#=#'+ document.getElementsByName(list[i])[0].value}
        }
    }

    console.log(body);

    var xhttp = new XMLHttpRequest();
    xhttp.open('POST', '/save_changes_text');
    xhttp.send(body);


    xhttp.onreadystatechange = function() {
                if (xhttp.readyState != 4) return;

         try {
              console.log("Posts GOT");
              var response = JSON.parse(xhttp.responseText);
              console.log(response['res']);
              console.log(response['save_button']);

              if(response['res'] == true){

                pr_s = document.getElementById(response['save_button']);
                buttob_save = pr_s.parentElement
                buttob_save = buttob_save.parentElement
                buttob_save = buttob_save.getElementsByTagName('input')[0]
                pr_s.innerText = 'Сохранено';
                buttob_save.disabled=false

                if(src=="profile_editing"){
                    create_table_template()
                    console.log('TITLE = ' + document.getElementById("title").value);
                    document.getElementById("title_base").value = document.getElementById("title").value
                    console.log('NEW title_base= ' + document.getElementById("title_base").value);
                }

              }
              else{
                if (response['res']=='[100] One of the parameters specified was missing or invalid: bdate is invalid'){
                   dd = document.getElementById('dd').value
                   mm = document.getElementById('mm').value
                   yyyy = document.getElementById('yyyy').value

                   pr_s = document.getElementById(response['save_button']);
                   pr_s.innerText = 'Не удалось сохраненить изменения. Неправильная дата:  '+ dd + '.'+ mm +'.'+ yyyy;
                   buttob_save = pr_s.parentElement
                   buttob_save = buttob_save.parentElement
                   buttob_save = buttob_save.getElementsByTagName('input')[0]
                   buttob_save.disabled=false
                }
                else if(response['res']=="'NoSuchElementException' object has no attribute 'find_element_by_id'"){

                    pr_s = document.getElementById(response['save_button']);
                    pr_s.innerText = 'Повторите попытку';
                    buttob_save = pr_s.parentElement
                    buttob_save = buttob_save.parentElement
                    buttob_save = buttob_save.getElementsByTagName('input')[0]
                    buttob_save.disabled=false
                }

                else if(response['res']=="[100] One of the parameters specified was missing or invalid: invalid maiden_name"){

                    pr_s = document.getElementById(response['save_button']);
                    pr_s.innerText = 'Не удалось сохраненить изменения. Неправильная девичья фамилия: ' + document.getElementById('maiden_name').value + '. Фамилия должна быть написана на русском языке';
                    buttob_save = buttob_save.parentElement
                    buttob_save = buttob_save.getElementsByTagName('input')[0]
                    buttob_save.disabled=false
                }
                else if(response['res']==false) {
                    pr_s = document.getElementById(response['save_button']);
                    pr_s.innerText = 'Не удалось сохраненить изменения. Повторите попытку';
                     buttob_save = buttob_save.parentElement
                    buttob_save = buttob_save.getElementsByTagName('input')[0]
                    buttob_save.disabled=false
                }
                else{
                    pr_s = document.getElementById(response['save_button']);
                    pr_s.innerText = 'Не удалось сохраненить изменения. ' + response['res'];
                     buttob_save = buttob_save.parentElement
                    buttob_save = buttob_save.getElementsByTagName('input')[0]
                    buttob_save.disabled=false
                }
              }
         }

         catch(e) {
          console.log("Problem in JSON.parse")
          // *****Не будет изменять нужный индикатор процесса сохранения****
          pr_s = document.getElementById(tag);
          pr_s.innerText = 'Не удалось сохраненить изменения. "Ошибка сервиса"';
          buttob_save = buttob_save.parentElement
          buttob_save = buttob_save.getElementsByTagName('input')[0]
          buttob_save.disabled=false
          console.log(e);
          var response = []
        }
    }
}


 </script>

<script>
    function changes_edu_status(who){

        var element = document.getElementById('education_status');

        del_arr = element.getElementsByTagName('option')

        for(i = del_arr.length-1; i >= 0; i--){

            //console.log(del_arr[i]);
            element.removeChild(del_arr[i]);
             }

        arr_w = ['Не выбран', "Абитуриентка","Студентка (специалист)", "Студентка (бакалавр)", "Студентка (магистр)",
        "Выпускница (специалист)", "Выпускница (бакалавр)", "Выпускница (магистр)",
        "Аспирантка", "Кандидат наук", "Доктор наук", "Интерн", "Клинический ординатор",
        "Соискательница", "Ассистент-стажёр", "Докторант", "Адъюнкт"]


         arr_m = ['Не выбран', "Абитуриент","Студент (специалист)","Студент (бакалавр)", "Студент (магистр)",
        "Выпускник (специалист)", "Выпускник(бакалавр)", "Выпускник(магистр)",
        "Аспирант", "Кандидат наук", "Доктор наук", "Интерн", "Клинический ординатор",
        "Соискатель", "Ассистент-стажёр", "Докторант", "Адъюнкт"]

        console.log(who);

        if (who == 'w'){
            arr = arr_w
            var maiden_name = document.getElementById('maiden_name');
            maiden_name.style.visibility = "inherit"
            }

        else{
           arr = arr_m
           var maiden_name = document.getElementById('maiden_name');
           maiden_name.style.visibility = "hidden"
        }

        for(i=0; i<arr.length; i++){
           var option = document.createElement('option');
           option.value = arr[i]
           option.innerText = arr[i]
           element.appendChild(option);
        }
   }
</script>

<script>
    function del_field(field){
        var element = document.getElementById(field.id);

        parent = element.parentElement
        console.log(parent.id);
        if(parent.id=='grandparent'){
            info =  document.getElementById('grandparent_button')
            if(document.getElementsByName(parent.id).length <=4){
                info.style.visibility = "inherit"
            }
            else{
                info.style.visibility = "hidden"
            }
        }

        else if(parent.id=='parent'){
            info =  document.getElementById('parent_button')
            if(document.getElementsByName(parent.id).length <=2){
               info.style.visibility = "inherit"
            }
            else{
               info.style.visibility = "hidden"
            }
        }

        else{
            info =  document.getElementById(parent.id + '_button')
            if(document.getElementsByName(parent.id).length <=15){
               info.style.visibility = "inherit"
            }
            else{
                info.style.visibility = "hidden"
            }
        }

        element.remove()
        console.log('del_field')
    }
</script>

<script charset="utf-8">

    function add_fields(id_name, type){

        var element = document.getElementById(id_name);

        var tb = document.createElement('tb');

        //console.log(element);
        //console.log(element.getElementsByTagName('td'));

        count = String(element.getElementsByTagName('input').length)
        s = id_name + '_field' + count;

        //console.log(s);

        tb.id = s;

        element.appendChild(tb);

        var td_1 = document.createElement("td")
        td_1.innerHTML = "<input type='button' name='"+id_name+"_del' value='x' id='" + s + "'style='width:23px;height:20px' onClick='del_field(this)'>";

        var element = document.getElementById(s);
        //console.log(element);

        var input = document.createElement('input');
        var br = document.createElement('br');
        var p = document.createElement('p');

        var td_space = document.createElement('td')

        input.name = id_name
        input.id = id_name + count ;

        element.appendChild(br);
        element.appendChild(p);

        if(type == 'file'){

            var label = document.createElement('label');
            var input_text = document.createElement('input');

            label.type = 'text'
            label.for = 'name_'+id_name;
            label.innerText = '    Название  ';

            input_text.type= 'text';
            input_text.id= 'name_'+id_name + count;
            input_text.name= 'name_' + id_name;


            input.type = 'file';
            input.multiple = 'true';

            element.appendChild(label);
            element.appendChild(input_text);
            element.appendChild(input);
            element.appendChild(td_space);

            element.appendChild(td_1);

        }

        else{

            input.type = 'text';
            element.appendChild(input);
            element.appendChild(td_space);
            element.appendChild(td_1);
        }

        var element = document.getElementById(id_name);

        if(id_name=='grandparent'){

            info =  document.getElementById('grandparent_button')
            //console.log(document.getElementsByName(id_name).length);
            if(document.getElementsByName(id_name).length >=4){
                info.style.visibility = "hidden"

            }
            else{
                info.style.visibility = "inherit"
            }
        }

        else if(id_name=='parent'){

            info =  document.getElementById('parent_button')
            if(document.getElementsByName(id_name).length >=2){
               info.style.visibility = "hidden"

            }
            else{
               info.style.visibility = "inherit"
            }
        }
        else{
            info =  document.getElementById(id_name + '_button')
            if(document.getElementsByName(id_name).length >=15){
               info.style.visibility = "hidden"
            }
            else{
               info.style.visibility = "inherit"
            }
         }
   }

</script>

<script>
     function error_info(text){

        id = 'field_error_info'
        var element = document.getElementById(id);

        if(text==' ' | text=='Загрузка профиля ...'){
            element.innerText = text;
        }
        else if(text == 'Bad password' | text == 'False'){
            console.log('error_info');
            console.log(text);
            element.innerText = 'Ошибка: Не удалось авторизоваться, возможно неправильный логин или пароль';
        }
        else{
            console.log('error_info');
            element.innerText = 'Ошибка: ' + text;
        }


     }
</script>

<script>

    function create_st(path){

        console.log(path);

        //var loading = document.getElementById('loading_prof');
        //loading.innerText =''

        error_info('Загрузка профиля ...');


        var login = document.getElementById('loginField');
        var password = document.getElementById('passwordField');


        if (login.value == '' || password.value == ''){

            console.log('Пустые поля');

            error_info('Пустые поля');
          }

        else{

            var xhttp = new XMLHttpRequest();
            xhttp.open('POST', '/'+ path +'/' + login.value + '/' + password.value);
            xhttp.send();

            xhttp.onreadystatechange = function() {
                    if (xhttp.readyState != 4) return;

            try {
                  console.log("Posts GOT");
                  var response = JSON.parse(xhttp.responseText);
                  console.log(response);

                  if (response['result'] == 'true'){

                    if(response['info']['sex']==1){
                         document.getElementById('sex_woman').checked=true
                         changes_edu_status('w')
                    }
                    else if (response['info']['sex']==2){
                         document.getElementById('sex_man').checked=true
                         changes_edu_status('m')
                    }

                    error_info(' ')
                    id = 'bots_editing_text';

                    document.getElementById(id).style.visibility = "visible";

                    list_innerText = ['first_name','last_name','screen_name'];

                    for(i=0;i<list_innerText.length;i++){

                        try{
                            document.getElementById(list_innerText[i]).innerText = response['info'][list_innerText[i]];
                        }
                        catch(e) {
                            //console.log('Нет'+list_innerText[i]);
                        }
                    }

                    for( var key in response['info']){

                        if (list_innerText.indexOf(key) == -1){

                            if(response['info'][key]=='')
                            {response['info'][key]=' '}

                            try{
                                document.getElementById(key).value = response['info'][key]
                            }
                            catch(e){
                                    //console.log('Нет '+ key);
                            }
                        }
                    }

                    try{
                        arr_bd = response['info']['bdate'].split('.')

                        document.getElementById('dd').value = arr_bd[0]
                        document.getElementById('mm').value = arr_bd[1]
                        document.getElementById('yyyy').value = arr_bd[2]
                        }
                    catch(e){
                        console.log('Нет даты рождения');
                        }

                    href = 'https://vk.com/'+ response['info']['screen_name']
                    document.getElementById('link').href = href


                    }
                  else{
                    if(response['result']){
                        error_info(response['result'])
                    }
                    else{
                        error_info('False')
                    }

                    id = 'bots_editing_text';
                    document.getElementById(id).style.visibility = "hidden";
                  }

                 }


             catch(e) {
                  console.log("Problem in JSON.parse")
                  console.log(e);
                  error_info(str(e))
                  var response = []
                }
            }
        }
    }

</script>

% include('notification.tpl')