{% load webpush_notifications %}
{% load notifications_tags %}
{% load staticfiles %}
<!--DOCTYPE html-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/assets/images/icon/favicon.ico">
    <!-- <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/spinner.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/metisMenu.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="/assets/css/typography.css">
    <link rel="stylesheet" href="/assets/css/default-css.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>

    {% block styles %}{% endblock %}
    {% webpush_header %}
    <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
    {% register_notify_callbacks callbacks='fill_notification_badge' api_name='count' %}

    <title>{% block title %}SMA{% endblock %}</title>
</head>

<body class="body-bg">
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->

    <!-- main wrapper start -->
    <div class="horizontal-main-wrapper">
        <!-- main header area start -->
        <div class="mainheader-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="/"><img src="/assets/images/icon/logo2.png" alt="logo"></a>
                        </div>
                    </div>
                    <!-- profile info & task notification -->
                    <div class="col-md-9 clearfix text-right">
                        <div class="d-md-inline-block d-block mr-md-4">
                            <ul class="notification-area">
                                <li class="dropdown">
                                    <i class="ti-bell dropdown-toggle" onClick="location.href='/notifications/';">
                                        <span>{% live_notify_badge %}</span>
                                    </i>
                                    <!--<div class="dropdown-menu bell-notify-box notify-box">
                                        <span class="notify-title">У вас {% live_notify_badge %} новых оповещений <a href="#">view all</a></span> 
                                        <div class="nofity-list" id="nofity-list"></div>
                                        <div>
                                            <button id="webpush-subscribe-button" data-url="/webpush/save_information" class="btn btn-primary">
                                                Subscribe to Push Messaging
                                            </button>
                                        </div>
                                    </div>-->
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix d-md-inline-block d-block">
                            <div class="user-profile m-0">
                                <img class="avatar user-thumb" src="/assets/images/author/avatar.png" alt="avatar">
                                <h4 class="user-name dropdown-toggle" data-toggle="dropdown">{{ user.get_full_name }}<i class="fa fa-angle-down"></i></h4>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/logout">Выйти</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main header area end -->

        <!-- header area start -->
        <div class="header-area header-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-9  d-none d-lg-block">
                        <div class="horizontal-menu">
                            <nav>
                                <ul id="nav_menu">
                                    <!-- <li>
                                        <a href="javascript:void(0)"><i class="ti-layout"></i><span>Парсеры</span></a>
                                        <ul class="submenu">
                                            <li><a href="/parsers/groups-tasks">Парсинг групп</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="maps.html"><i class="ti-menu"></i> <span>Темы</span></a></li> -->
                                    <li>
                                        <a href="javascript:void(0)"><i class="ti-layers-alt"></i><span>Посты</span></a>
                                        <ul class="submenu">
                                            <!-- <li><a href="/posts/monitor">Лента постов</a></li> -->
                                            <li><a href="/posts/tracked">Отслеживаемые посты</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><i class="ti-search"></i><span>Полнотекстовый поиск</span></a>
                                        <ul class="submenu">
                                            <li><a href="/fts">Упоминания</a></li>
                                            <li><a href="/fts/rules">Правила</a></li>
                                        </ul>
                                    </li>
                                    <!-- <li>
                                        <a href="javascript:void(0)"><i class="ti-pencil-alt"></i><span>Следы</span></a>
                                        <ul class="submenu">
                                            <li><a href="/traces/replies">Комментарии</a></li>
                                            <li><a href="/traces/posts">Вбросы</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><i class="ti-user"></i> <span>Боты</span></a>
                                        <ul class="submenu">
                                            <li><a href="/bots/">Список</a></li>
                                            <li><a href="/bots/templates">Шаблоны</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><i class="fa fa-area-chart"></i><span>Отчеты</span></a>
                                        <ul class="submenu">
                                            <li><a href="/reports/traces">Следы</a></li>
                                            <li><a href="/reports/smm-sl">SMM SL</a></li>
                                        </ul>
                                    </li> -->
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header area end -->

        <!-- page title area end -->
        <div class="main-content-inner">
            <div class="container">
                <div class="row">
                </div>
            </div>
            {% block content %} 
            {% endblock %}
        </div>
    </div>
    <!-- main wrapper start -->

    <script>
    function notification_callback(source) {
        var parent = source.parentNode;
        var list = document.getElementById("nofity-list");
        list.innerHTML = ""

        if (parent.classList.contains('show')) return;

        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "/inbox/notifications/api/unread_list/?mark_as_read=true", true);
        xhttp.send()

        xhttp.onreadystatechange = function() {

            if (xhttp.readyState != 4) return;

            try {
                console.log("Posts GOT");
                var data = JSON.parse(xhttp.responseText.replace(/\bNaN\b/g, "null"));
                console.log(data);

            } catch(e) {
                console.log(e)
                console.log("Problem in JSON.parse")
                console.log(xhttp.responseText)
                var data = []
            }
            for (var i=0; i < data.unread_list.length; i++) {
                msg = data.unread_list[i];
                date = new Date(msg.timestamp).toLocaleString('ru');
                var a = document.createElement('a');
                a.className = "notify-item";
                a.href = msg.data.url;
                a.target = "_blank";
                a.innerHTML = '<div class="notify-thumb"><i class="ti-info btn-info"></i></div>';
                var div = document.createElement('div');
                div.className = "notify-text";
                var p = document.createElement('p');
                p.textContent = msg.data.head;
                div.appendChild(p);
                var span = document.createElement('span');
                span.textContent = date;
                div.appendChild(span);
                a.appendChild(div);
                list.appendChild(a);
            }
        }
    }
    </script>

    <!-- jquery latest version -->
    <script src="/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/lodash.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/bootstrap-select.min.js"></script>
    <script src="/assets/js/metisMenu.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.min.js"></script>
    <script src="/assets/js/jquery.slicknav.min.js"></script>

    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <!-- start amcharts -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <!-- all line chart activation -->
    <script src="/assets/js/line-chart.js"></script>
    <!-- all pie chart -->
    <script src="/assets/js/pie-chart.js"></script>
    <!-- all bar chart -->
    <script src="/assets/js/bar-chart.js"></script>
    <!-- all map chart -->
    <script src="/assets/js/maps.js"></script>
    <!-- others plugins -->
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/scripts.js"></script>

    {% block javascript %}
    {% endblock %}
    
</body>

</html>