{% extends 'base.html' %}

{% block title %}SMA{% endblock %}

{% block content %}
<!-- <div class="col-lg-3"></div>
<div class="col-lg-8 mt-5">
    <div class="card card-bordered">
        <div class="card-header">
            <div class="media">
                <img class="img-fluid mr-4" src="assets/images/icon/socials/vk.png" alt="vk.com">
                <div class="media-body">
                    <h5 class="mt-2">Название группы</h5>
                    10.03.1996 12:07
                </div>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">
                Часто в холодное время года теплотрассы и другие трубопроводы начинают лопаться, как банки с солеными огурцами. Чтобы своевременно предотвратить образование гейзеров, нужно заранее определить слабое место.
            </p>
            <p class="card-text">
                И у нас есть решение! Это умные технологии учета ресурсов. Специальные датчики передают информацию на сервер, где ведется мониторинг расхода ресурсов, который позволяет предсказать на каком участке коммунальных сетей может произойти авария.
            </p>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-1">
                    <div class="media">
                        <div class="media-body">5</div>
                    </div>
                </div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">1</div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-2"></div> -->
<!-- <div class="col-lg-6 col-md-6 mt-5">
    <div class="card card-bordered">
        <img class="card-img-top img-fluid" src="assets/images/card/card-img1.jpg" alt="image">
        <div class="card-body">
            <h5 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dicta.</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia adipisci quidem, quam nam reiciendis facere blanditiis atque neque architecto omnis magni totam, voluptate maiores, iusto molestias incidunt unde nesciunt cum.
            </p>
            <a href="#" class="btn btn-primary">Go More....</a>
        </div>
    </div>
</div> -->
{% endblock %}