{% extends 'base.html' %}

{% block title %}SMA | Оповещения{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-3">
            <div class="card card-bordered mt-2">
                <div class="card-body">
                    <h2 class="card-title">Оповещения в браузере</h2>
                    <!-- <p class="card-text">Как работают уведомления? -->
                    </p>
                    <div>
                        <button id="webpush-subscribe-button" data-url="/webpush/save_information" class="btn btn-primary">
                            Подписаться
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for ntf in notifications %}
        {% if forloop.first %}<div class="row card-deck mt-3">{% endif %}
            <div class="card card-bordered">
                <div class="card-body">
                    <h4 class="card-title">{{ ntf.data.head }}</h4>
                    <a href="{{ ntf.data.url }}" target="_blank">
                        <p class="card-text">{{ ntf.data.body|truncatewords:12 }}</p>
                    </a>
                    <p class="card-text"><small class="text-muted">{{ ntf.timestamp }}</small></p>
                </div>
        </div> 
        {% if forloop.counter|divisibleby:4 %}</div><div class="row card-deck mt-3">{% endif %}
        {% if forloop.last %}</div>{% endif %}
    {% endfor %}
    {% if notifications.has_other_pages %}
    {% load proper_paginate %}
    <div class="row mt-3">
        <div class="col-md-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">

                    {% if notifications.number == 1 %}
                        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li class="page-item">
                    {% endif %}

                    {% if notifications.has_previous %}
                    <li class="page-item"><a class="page-link"  href="?page={{ notifications.previous_page_number }}">&lsaquo;</a></li>
                    {% else %}
                    <li class="page-item disabled"><span class="page-link" >&lsaquo;</span></li>
                    {% endif %}

                    {% for i in paginator|proper_paginate:notifications.number %}
                    {% if notifications.number == i %}
                        <li class="page-item active"><span class="page-link" >{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}

                    {% if notifications.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ notifications.next_page_number }}">&rsaquo;</a></li>
                    {% else %}
                    <li class="page-item disabled"><span class="page-link">&rsaquo;</span></li>
                    {% endif %}

                    {% if notifications.number == paginator.num_pages %}
                        <li class="page-item disabled"><span class="page-link">&raquo;</span class="page-link"></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ paginator.num_pages }}">&raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}