{% extends 'base.html' %}

{% block title %}SMA | Пост{% endblock %}

{% block content %}
<div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.social }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ post.date }}</h6>
                        <p class="card-text">{{ post.text }}</p>
                        <p class="card-text d-inline"><small class="text-muted">{{stat.views}} {{stat.likes}} {{stat.replies}} {{stat.shares}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}