{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css" />
{% endblock %}

{% block title %}SMA | Отслеживаемые посты{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="row">
    <div class="col-md-3 mt-4">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Фильтры</h4>
                <div id="accordion4" class="according accordion-s2">
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#date">Дата</a>
                        </div>
                        <div id="date" class="collapse" data-parent="#accordion4">
                            <div class="card-body">
                                <input class="form-control" type="date" value="{{ start_date }}" id="filter-start_date">
                                <input class="form-control" type="date" value="{{ end_date }}" id="filter-end_date">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#cities" aria-expanded="false">Город</a>
                        </div>
                        <div id="cities" class="collapse" data-parent="#accordion4">
                            <div class="card-body">
                                <select class="selectpicker" data-size="8" id="filter-city" multiple data-actions-box="true" data-width="90%">
                                    {% for city in cities %}
                                        <option value="{{ city.id }}">{{ city.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#topics" aria-expanded="false">Тема</a>
                        </div>
                        <div id="topics" class="collapse" data-parent="#accordion4">
                            <div class="card-body">
                                <select class="selectpicker" data-size="8" id="filter-topic" multiple data-actions-box="true" data-width="90%">
                                    {% for topic in topics %}
                                        <option value="{{ topic.id }}">{{ topic.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row justify-content-center">
                            <button id="get_posts" type="button" class="btn btn-primary">
                                <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                Вывести
                            </button>
                            <!-- <button id="download" type="button" class="btn btn-success ml-3" disabled>
                                <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                Скачать
                            </button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <!-- <a href="#" class="btn btn-outline-primary btn-lg btn-block" role="button" aria-pressed="true">Добавить пост</a> -->
                <button type="button" class="btn btn-outline-primary btn-block btn-lg" data-toggle="modal" data-target="#addPostModal">Добавить пост</button>
                <div class="modal fade" id="addPostModal" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Данные поста</h5>
                                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-success" id="success-alert">
                                    <button type="button" class="close" data-dismiss="alert">x</button>
                                    Пост успешно добавлен!
                                </div>
                                <div class="alert alert-danger" id="danger-alert">
                                    <button type="button" class="close" data-dismiss="alert">x</button>
                                    Произошла ошибка!
                                </div>
                                <div class="form-group">
                                    <label for="example-text-input" class="col-form-label">Ссылка на пост</label>
                                    <input class="form-control" type="url" value="" id="add-post-url">
                                </div>
                                <label class="col-form-label">Город</label>
                                <div class="form-row">
                                    <div class="col">
                                        <select class="selectpicker" data-size="8" new-field="new_city" onChange="newField(this)" id="add-post-city">
                                            {% for city in cities %}
                                                <option value="{{ city.name }}" >{{ city.name }}</option>
                                            {% endfor %}
                                            <option value="other">Другой</option>
                                        </select>
                                    </div>
                                    <div id="new_city" class="col d-none">
                                        <input type="text" class="form-control form-control-sm" id="new_city_name">
                                    </div>
                                </div>
                                <label class="col-form-label">Тема</label>
                                <div class="form-row">
                                    <div class="col">
                                        <select class="selectpicker" data-size="8" new-field="new_topic" onChange="newField(this)" id="add-post-topic">
                                            {% for topic in topics %}
                                                <option value="{{ topic.name }}" >{{ topic.name }}</option>
                                            {% endfor %}
                                            <option value="other">Другая</option>
                                        </select>
                                    </div>
                                    <div id="new_topic" class="col d-none">
                                        <input type="text" class="form-control form-control-sm" id="new_topic_name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">До какой даты отслеживать</label>
                                    <input class="form-control" type="date" id="add-post-date">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button> -->
                                <button id="add-post" type="button" class="btn btn-primary">
                                    <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                    Добавить
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 mt-4">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Посты</h4>
                <div class="data-tables">
                    <table id="dataTable" class="table text-center">
                        <thead class="text-capitalize">
                            <tr>
                                <th>№</th>
                                <th>Дата</th>
                                <th>Город</th>
                                <th>Группа</th>
                                <th>Тема</th>
                                <th>Текст</th>
                                <th style="display: none;">Ссылка</th>
                                <th><img width="30" src="/assets/images/icon/metrics/eye_monitor.png"><span style="display: none;">Просмотры</span></th>
                                <th><img width="30" src="/assets/images/icon/metrics/like_outline_24.svg"><span style="display: none;">Лайки</span></th>
                                <th><img width="30" src="/assets/images/icon/metrics/comment_outline_24.svg"><span style="display: none;">Комментарии</span></th>
                                <th><img width="30" src="/assets/images/icon/metrics/share_outline_24.svg"><span style="display: none;">Репосты</span></th>
                                <th>Установки</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function () {
    $('select').selectpicker();
    $("#success-alert").hide();
    $("#danger-alert").hide();
})
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script>
function newField(source) {
    var newField = document.getElementById(source.getAttribute('new-field'));
    if (source.selectedIndex + 1 === source.length) {
        newField.classList.remove("d-none");
    } else {
        newField.classList.add("d-none");
    }
}
</script>
<script>
$('#add-post').click(function() {
    var _this = $(this);
    var url = $('#add-post-url').val();

    try {
        url = url.split('wall')[1];
        url = url.split('_');
        owner_id = url[0];
        post_id = url[1];
    } catch (err) {
        $("#danger-alert").fadeTo(2000, 500).slideUp(500, function() {
            $("#danger-alert").slideUp(500);
        });
        return 0;
    }
    var data = {
        'social': 'vk',
        'owner_id': owner_id,
        'post_id': post_id,
        'url': $('#add-post-url').val(),
        'end_date': $('#add-post-date').val(),
        'city': $('#add-post-city').val(),
        'topic': $('#add-post-topic').val(),
        csrfmiddlewaretoken: getCookie('csrftoken')
    }
    if (data['city'] === 'other') {
        data['city'] = $('#new_city_name').val();
        data['new_city'] = true;
    }
    if (data['topic'] === 'other') {
        data['topic'] = $('#new_topic_name').val();
        data['new_topic'] = true;
    }
    console.log(data);

    $.ajax({
        type: 'POST',
        url: 'add-post',
        data: data,
        dataType: 'json',
        beforeSend: function() {
            _this
                .prop('disabled', true)
                .find('.spinner-border').removeClass('d-none');
        },
        success: function(data){
            console.log("success");
            $("#success-alert").fadeTo(2000, 500).slideUp(500, function() {
                $("#success-alert").slideUp(500);
            });
        },
        error: function(data){
            console.log("error");
            console.log(data);
            $("#danger-alert").fadeTo(2000, 500).slideUp(500, function() {
                $("#danger-alert").slideUp(500);
            });
        },
        complete: function(){
            _this
                .prop('disabled', false)
                .find('.spinner-border').addClass('d-none');
        }
    })
})
</script>
<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
$('#get_posts').click(function() {
    var _this = $(this);
    var data = {
        'start_date': $('#filter-start_date').val(),
        'end_date': $('#filter-end_date').val(),
        'cities': JSON.stringify($('#filter-city').val() || []),
        'topics': JSON.stringify($('#filter-topic').val() || [])
    }
    console.log(data);

    $.ajax({
        type: 'GET',
        url: 'tracked-posts',
        data: data,
        dataType: 'json',
        beforeSend: function() {
            $('#dataTable').DataTable().clear().draw();
            _this
                .prop('disabled', true)
                .find('.spinner-border').removeClass('d-none');
        },
        success: function(data){
            console.log("success");
            console.log(data);
            fillPosts(data);
        },
        error: function(data){
            console.log("error");
            console.log(data);
            $('#dataTable').DataTable().clear().draw();
        },
        complete: function(){
            _this
                .prop('disabled', false)
                .find('.spinner-border').addClass('d-none');
        }
    })
})
</script>
<script>
$(document).ready(function () {
    $("#dataTable").append(
        "<tfoot><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tfoot>"
    );
    var t = $("#dataTable").DataTable({
        dom: 'Bfrtip',
        buttons: [
            { 
                extend: 'excelHtml5',
                footer: true,
                exportOptions: {
                    format: {
                        body: function ( data, row, column, node ) {
                            if (column == 11) { 
                                // console.log($(data));
                                return $(data).val()
                            } else if (column == 1) {
                                return $(data).text().replace(',', '')
                            } else return data
                        }
                    }
                },
                customize: function ( xlsx ) {
                    var sheet = xlsx.xl.worksheets['sheet1.xml'];
                
                    console.log(sheet)
                }
            }
        ],
        language: {
            "decimal":        "",
            "emptyTable":     "Не найдено",
            "info":           "Записи с _START_ по _END_ из _TOTAL_",
            "infoEmpty":      "Нет записей",
            "infoFiltered":   "(filtered from _MAX_ total entries)",
            "infoPostFix":    "",
            "thousands":      ",",
            "lengthMenu":     "Выводить по _MENU_ записей",
            "loadingRecords": "Загрузка...",
            "processing":     "Processing...",
            "search":         "Поиск:",
            "zeroRecords":    "Не найдено",
            "paginate": {
                "first":      "В начало",
                "last":       "В конец",
                "next":       "Вперед",
                "previous":   "Назад"
            },
            "aria": {
                "sortAscending":  ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            }
        },
        columns: [
            { 'data': 'id', defaultContent: '', "searchable": false, "orderable": false},
            {
                "data": "date",
                "width": "10%",
                "render": function(data, type, row, meta){
                    return '<a target="_blank" href="' + row['link'] + '">' + (new Date(data).toLocaleString("ru-RU")).slice(0,-3).replace(',', '').replace(/\./g, '/') + '</a>'
                }
            },
            {"data": "tracked_city", "width": "5%"},
            {"data": "name", "width": "5%"},
            {"data": "tracked_topic", "width": "5%"},
            {"data": "text", "width": "40%"},
            {"data": "link", "visible": false},
            {"data": "views", "width": "5%"},
            {"data": "likes", "width": "5%"},
            {"data": "replies", "width": "5%"},
            {"data": "shares", "width": "5%"},
            { 
                'data': "installs",
                "render": function(data, type, row, meta){
                    return '<input class="form-control" type="number" value="' + data + '" id="' + row['tr_post_id'] + '">'
                }
            }
        ],
        "footerCallback": function (row, data, start, end, display) {
            var api = this.api();

            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };

            $( api.column(0).footer() ).html(
                "Всего:"
            );

            total = api
                .column(7)
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
            $( api.column(7).footer() ).html(
                total
            );

            total = api
                .column(8)
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
            $( api.column(8).footer() ).html(
                total
            );

            total = api
                .column(9)
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
            $( api.column(9).footer() ).html(
                total
            );

            total = api
                .column(10)
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
            $( api.column(10).footer() ).html(
                total
            );

            total = api
                .column(11)
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
            $( api.column(11).footer() ).html(
                total
            );
        }
    });

    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
            t.cell(cell).invalidate('dom');
        } );
    } ).draw();
    t.on( 'change', 'input', function () {
        var row = $(this).closest('tr');

        $(this).attr('value', $(this).val());
  
        var data = t.row(row).data();
        data["installs"] = parseInt($(this).val());
        t.row(row).data(data).draw();

      updateInstalls($(this).attr('id'), $(this).val());
    } );
})
</script>
<script>
function fillPosts(data){
    var t = $('#dataTable').DataTable();
    t.rows.add(data['posts']).draw();
}
</script>
<script>
function updateInstalls(postId, installs){
    var data = {
        'post_id': postId,
        'installs': installs
    }

    $.ajax({
        type: 'POST',
        url: 'update-post-installs',
        data: data,
        dataType: 'json',
        success: function(data){
            console.log("Installs upd success");
        },
        error: function(data){
            console.log("Installs upd error");
        }
    })
}
</script>

<!-- <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script> -->
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script> -->
<!-- <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script> -->
<script src="/assets/js/buttons.html5.js"></script>
<!-- <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script> -->
{% endblock %}
