{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css" />
{% endblock %}

{% block title %}SMA | Добавить правило{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    
<div class="row">
    <div class="col-1"></div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Построение правил</h4>
                <p style="color: black;">Правилу <strong>кот</strong> будут соответствовать объекты с текстом "кот", "кОт", "Котик".<br> 
                    Правилу <strong>"кот"</strong> из вышеперечисленных будет соответствовать только объект с текстом "кот". <br>
                    Правилу <strong>-"кот"</strong> будут соответствовать объекты, которые не содержат точную словоформу «кот». <br>
                    Правилу <strong>-собака</strong> будут соответствовать объекты, которые не содержат слово «собака» в любой форме.<br> 
                    Чтобы искать записи с хэштегом, используйте правило вида <strong>"#хэштег"</strong>. <br> 
                    Для создания правил, где тексты включают хотя бы одно из слов, используйте оператор ИЛИ - <strong>"|"</strong>.<br>  
                    <strong>Пример:</strong> интерсвязь | is74 | intersvyaz</p>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Добавить правило</h4>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Соцсеть</label><br>
                        <select id="social-select" class="selectpicker" name="social" multiple>
                            <option value="vk" selected>Вконтакте</option>
                            <option value="ok">Одноклассники</option>
                            <option value="inst">Инстаграм</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="value">Правило</label>
                        <input type="text" class="form-control" id="value" name="value">
                    </div>
                    <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function () {
    $('#social-select').selectpicker();
})
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
{% endblock %}