{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block title %}SMA | Полнотекстовый поиск{% endblock %}

{% block content %}
<div class="container-fluid">
    
<div class="row">
    <div class="col-md-3 mt-4">
        <div >
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Фильтры</h4>
                    <div id="accordion4" class="according accordion-s2">
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link collapsed" data-toggle="collapse" href="#accordion41" aria-expanded="false">Правило</a>
                            </div>
                            <div id="accordion41" class="collapse" data-parent="#accordion4">
                                <div class="card-body">
                                    <select class="custom-select" id="filter-rule">
                                        {% for rule in rules %}
                                            <option value="{{ rule.id }}" {% if filters.rule_id|floatformat:"0" == rule.id|floatformat:"0" %}selected=""{% endif %}>{{ rule.social }} | {{ rule.value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#accordion42">Дата</a>
                            </div>
                            <div id="accordion42" class="collapse" data-parent="#accordion4">
                                <div class="card-body">
                                    <input class="form-control" type="datetime-local" value="{{ start_date }}" id="filter-start_date">
                                    <input class="form-control" type="datetime-local" value="{{ end_date }}" id="filter-end_date">
                                </div>
                            </div>
                        </div>
                        <!-- <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#accordion43">Количество упоминаний</a>
                            </div>
                            <div id="accordion43" class="collapse" data-parent="#accordion4">
                                <div class="card-body">
                                    <input class="form-control" type="number" value="{% firstof filters.count '100' %}" id="filter-count">
                                </div>
                            </div>
                        </div> -->
                        <div class="card">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="filter-get_topmine" checked {% if filters.get_topmine %}checked=""{% endif %}>
                                <label class="custom-control-label" for="filter-get_topmine">Вывести топ фраз</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="filter-drop_dupl" {% if filters.drop_dupl %}checked=""{% endif %}>
                                <label class="custom-control-label" for="filter-drop_dupl">Убрать дубликаты по тексту</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="filter-sort_viewed" {% if filters.sort_viewed %}checked=""{% endif %}>
                                <label class="custom-control-label" for="filter-sort_viewed">Не выводить просмотренное наверх</label>
                            </div>
                        </div>
                        <div class="card">
                            <div class="row justify-content-center">
                                <button id="get_mentions" type="button" class="btn btn-primary">
                                    <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                    Вывести
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <br>
            <div class="card">
                <div class="card-body">
                    <a href="add-rule" class="btn btn-outline-primary btn-lg btn-block" role="button" aria-pressed="true">Добавить правило</a>
                </div>
            </div> -->
        </div>

        <div class="mt-4 d-none" id="phrase_chart">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Топ фраз</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Топ слов</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div>
                    <div class="card">
                        <div class="card-body">
                            <canvas id="phrases_chart" width="400" height="400"></canvas>
                            <br />
                            <div class="row justify-content-center">
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#phrasesModal">
                                    <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                    Убрать фразы
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"><div>
                <div class="card">
                    <div class="card-body">
                        <canvas id="words_chart" width="400" height="400"></canvas>
                        <br />
                            <div class="row justify-content-center">
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#wordsModal">
                                    <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                    Убрать слова
                                </button>
                            </div>
                    </div>
                </div>
            </div></div>
          </div>
        </div>
    

        
    </div>
    <div class="col-md-9 mt-4">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Упоминания</h4>
                <div class="data-tables">
                    <table id="dataTable" class="table table-bordered text-center">
                        <thead class="text-capitalize">
                            <tr>
                                <th>Соцсеть</th>
                                <th>Тип</th>
                                <th>Дата</th>
                                <th>Текст</th>
                                <th><img width="30" src="/assets/images/icon/metrics/eye_monitor.png"></th>
                                <th><img width="30" src="/assets/images/icon/metrics/like_outline_24.svg"></th>
                                <th><img width="30" src="/assets/images/icon/metrics/comment_outline_24.svg"></th>
                                <th><img width="30" src="/assets/images/icon/metrics/share_outline_24.svg"></th>
                                <th>Прочитано</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="phrasesModal" tabindex="-1" role="dialog" aria-labelledby="phrasesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="phrasesModalLabel">Выберите фразы для удаления</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="select_phrases_chart">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close_select_phrases_chart">Закрыть</button>
          <button type="button" class="btn btn-primary" data-id="select_phrases_chart" onclick="removeUnits(this)">Удалить фразы</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="wordsModal" tabindex="-1" role="dialog" aria-labelledby="wordsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="wordsModalLabel">Выберите слова для удаления</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="select_words_chart">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close_select_words_chart">Закрыть</button>
          <button type="button" class="btn btn-primary" data-id="select_words_chart" onclick="removeUnits(this)">Удалить слова</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script>
var Charts = {};
$('#get_mentions').click(function() {
    var _this = $(this);
    $.ajax({
        type: 'GET',
        url: 'get-mentions',
        data: {
            'rule_id': $('#filter-rule').val(),
            'start_date': $('#filter-start_date').val(),
            'end_date': $('#filter-end_date').val(),
            'drop_dupl': $('#filter-drop_dupl').prop('checked'),
            'sort_viewed': $('#filter-sort_viewed').prop('checked'),
            'get_topmine': $('#filter-get_topmine').prop('checked')
        },
        dataType: 'json',
        beforeSend: function() {
            _this
                .prop('disabled', true)
                .find('.spinner-border').removeClass('d-none');
        },
        success: function(data){
            console.log("success");
            if (data['top_phrases'].length != 0) {
                try {
                    Object.keys(Charts).forEach(el => Charts[el].destroy());
                }
                    catch(error) {
                        console.log(error);
                }
                localStorage.setItem('top_phrases', JSON.stringify(data['top_phrases']))
                localStorage.setItem('top_words', JSON.stringify(data['top_words']))
                new_phrases = fillPhrasesChart(data['top_phrases'], 'phrases_chart')
                fillRemoveOptions(new_phrases.slice(0, 10), 'phrases_chart')
                new_words = fillPhrasesChart(data['top_words'], 'words_chart')
                fillRemoveOptions(new_words.slice(0, 10), 'words_chart')
            } else {
                if (!$('#phrase_chart').hasClass('d-none')) {
                    $('#phrase_chart').addClass('d-none');
                }
            }
            console.log(data);
            fillMentions(data);
        },
        error: function(data){
            console.log("error");
            console.log(data);
            $('#dataTable').DataTable().clear().draw();
        },
        complete: function(){
            _this
                .prop('disabled', false)
                .find('.spinner-border').addClass('d-none');
        }
    })
})
</script>
<script>
    function fillRemoveOptions(phrases, id) {
        var select_id = 'select_' + id;
        select_content = '<select multiple data-style="bg-white rounded-pill px-4 py-3 shadow-sm " class="selectpicker w-100">'
        phrases.forEach(function(phrase){
            select_content += '<option>' + phrase + '</option>';
        });
        select_content += '</select>'
        document.getElementById(select_id).innerHTML = select_content;
        $(function () {
            $('.selectpicker').selectpicker();
        });
    }
    function removeUnits(modal) {
        var units = [];
        data = JSON.parse(localStorage.getItem(modal.dataset.id))
        data == null ? data = [] : data;
        $('#' + modal.dataset.id).find("li.selected").each(function(index) {
            units.push($(this).text());
        });
        localStorage.setItem(modal.dataset.id, JSON.stringify(data.concat(units)))
        new_data = JSON.parse(localStorage.getItem('top_' + modal.dataset.id.split('_')[1]))
        Charts[modal.dataset.id.substring(7,)].destroy()
        new_units = fillPhrasesChart(new_data, modal.dataset.id.substring(7,))
        fillRemoveOptions(new_units.slice(0, 10), modal.dataset.id.substring(7,))

        // $('#get_mentions').click()
        $('#close_' + modal.dataset.id).click()
    }
    function fillPhrasesChart(phrases, id) {
        var ctx = document.getElementById(id).getContext('2d');
        var data = [];
        var labels = [];
        ignore_units = JSON.parse(localStorage.getItem('select_' + id));
        phrases.forEach(function(phrase){
            labels.push(phrase[0]);
        })
        labels = _.difference(labels, ignore_units)
        phrases.forEach(function(phrase){
            if (ignore_units == null || ignore_units.indexOf(phrase[0]) == -1) {
                data.push(phrase[1]);
            }
        })
        Charts[id] = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: labels.slice(0, 10),
                datasets: [{
                    label: 'Вхождения',
                    data: data.slice(0, 10),
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(134, 153, 19, 0.2)',
                        'rgba(105, 22, 56, 0.2)',
                        'rgba(231, 123, 255, 0.2)',
                        'rgba(150, 123, 135, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(134, 153, 19, 1)',
                        'rgba(105, 22, 56, 1)',
                        'rgba(231, 123, 255, 1',
                        'rgba(150, 123, 135, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        $('#phrase_chart').removeClass('d-none');

        return labels;
    }
    </script>
<script>
function fillMentions(data){
    $('#dataTable').DataTable({
        destroy: true,
        data: data.data,
        language: {
            "decimal":        "",
            "emptyTable":     "Не найдено",
            "info":           "Записи с _START_ по _END_ из _TOTAL_",
            "infoEmpty":      "Нет записей",
            "infoFiltered":   "(filtered from _MAX_ total entries)",
            "infoPostFix":    "",
            "thousands":      ",",
            "lengthMenu":     "Выводить по _MENU_ записей",
            "loadingRecords": "Загрузка...",
            "processing":     "Processing...",
            "search":         "Поиск:",
            "zeroRecords":    "Не найдено",
            "paginate": {
                "first":      "В начало",
                "last":       "В конец",
                "next":       "Вперед",
                "previous":   "Назад"
            },
            "aria": {
                "sortAscending":  ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            }
        },
        createdRow: function(row, data, index){
            if (data['is_viewed'] === true){
                $(row).addClass("viewed");
            }
        },
        columns: [
            {
                "data": "social",
                "width": "5%",
                "render": function(data, type, row, meta){
                    return '<img width=40 src="/assets/images/icon/socials/' + data + '.png">'
                }
            },
            {"data": "mention_type", "width": "5%"},
            {
                "data": "date",
                "width": "10%",
                "render": function(data, type, row, meta){
                    return '<a target="_blank" href="' + row['link'] + '">' + new Date(data).toLocaleString("ru-RU") + '</a>'
                }
            },
            {
                "data": "text",
                "width": "60%",
                "render": function(data, type, row, meta){
                    var changedText = row['highlight'];
                    changedText = changedText.replace(/<mark>/gi, "").replace(/<\/mark>/gi, "");
                    var text = data.replace(changedText, row['highlight']);
                    if (row['att_link'] === "" || typeof row['att_link'] === 'undefined') {
                        return text
                    } else {
                        if (row['att_show_link'] && row['att_show_link'].length > 10 && row['att_link'].includes('video') == false) {
                            return text + '<br>' + '<a target="_blank" href="' + row['att_link'] + '">' + '<img width="200" src="' + row['att_link'] + '">' + "</a>";
                        } else if (row['att_link'].includes('video') && row['att_show_link'].length > 0) {
                            return text + '<br>' + '<a target="_blank" href="' + row['att_link'] + '">' + '<img width="200" src="' + row['att_show_link'] + '">' + "</a>";
                        } else if (row['att_show_link'].length > 0 && row['att_link'].length > 0) {
                            return text + '<br>' + '<a target="_blank" href="' + row['att_link'] + '">' + row['att_show_link'] + "</a>";
                        } else {
                            return text
                        }
                    }
                }
            },
            {"data": "views", "width": "5%"},
            {"data": "likes", "width": "5%"},
            {"data": "replies", "width": "5%"},
            {"data": "shares", "width": "5%"},
            {
                "data": "is_viewed",
                "width": "5%",
                "render": function(data, type, row, meta){
                    if (row['is_viewed'] === true){
                        return ''
                    } else {
                        return '<img width="30" src="/assets/images/icon/check.png" class="set-viewed" id="' + row['viewed_id'] + '" onClick="setViewed(this)" style="cursor:hand;">';
                    }
                }
            }
        ]
    });
}
</script>

<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function setViewed(source) {
    $.ajax({
        type: 'POST',
        url: 'set-viewed-mention',
        data: {
            id: source.id,
            csrfmiddlewaretoken: getCookie('csrftoken')
        },
        dataType: 'json',
        success: function(data){
            $(source).parent().parent().addClass("viewed");
            $(source).parent().empty();
        }
    })
}
</script>
<script>
$(document).ready(function () {
    localStorage.clear();
    $("#dataTable").DataTable({
        destroy: true,
        language: {
            "decimal":        "",
            "emptyTable":     "Не найдено",
            "info":           "Записи с _START_ по _END_ из _TOTAL_",
            "infoEmpty":      "Нет записей",
            "infoFiltered":   "(filtered from _MAX_ total entries)",
            "infoPostFix":    "",
            "thousands":      ",",
            "lengthMenu":     "Выводить по _MENU_ записей",
            "loadingRecords": "Загрузка...",
            "processing":     "Processing...",
            "search":         "Поиск:",
            "zeroRecords":    "Не найдено",
            "paginate": {
                "first":      "В начало",
                "last":       "В конец",
                "next":       "Вперед",
                "previous":   "Назад"
            },
            "aria": {
                "sortAscending":  ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            }
        },
    });
})
</script>

<!-- Start datatable js -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
{% endblock %}
