{% extends 'base.html' %}

{% block title %}SMA | ПП правила{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="row justify-content-md-center">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <a href="add-rule" class="btn btn-outline-primary btn-lg btn-block" role="button" aria-pressed="true">Добавить правило</a>
                </div>
            </div>
        </div>
        <div class="col-6">
        {% for rule in rules %}
            <div id="rule_{{rule.id}}" class="collapse show">
                <div class="card">
                    <div class="card-body">
                        <div>
                            {% for social in rule.socials %}
                                <img class="social" width="35" src="/assets/images/icon/socials/{{social}}.png">
                            {% endfor %}
                        </div>
                        <h3>{{ rule.tag }}</h3>
                        <p class="card-text">{{ rule.value }}</p>
                        {%  if user in rule.users.all %}
                            <a id="{{rule.id}}" class="untrack card-link btn btn-outline-info">Не отслеживать</a>
                        {% else %}
                            <a id="{{rule.id}}" class="track card-link btn btn-outline-success">Отслеживать</a>
                        {% endif %}
                        <a class="card-link btn btn-outline-danger" data-toggle="modal" data-target="#modal_{{rule.id}}">Удалить правило</a>
                    </div>
                </div>
                <br>
            </div>
            
            <div class="modal fade" id="modal_{{rule.id}}" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Внимание!</h5>
                            <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                        </div>
                        <div class="modal-body">
                            <p>Вы действительно хотите удалить это правило?</p>
                        </div>
                        <div class="modal-footer">
                            <a id="{{rule.id}}" class="delete-rule btn btn-danger" data-toggle="collapse" href="#rule_{{rule.id}}" aria-expanded="true" aria-controls="rule_{{rule.id}}" data-dismiss="modal">Удалить</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function() {
  $(".track").click(track);
  $(".untrack").click(untrack);
});
</script>
<script>
$('.delete-rule').click(function() {
    var _this = $(this);
    $.ajax({
        type: 'GET',
        url: 'delete-rule/' + _this.attr('id'),
    })
})
</script>
<script>
function track(){
    _this = $(this);
    $.ajax({
        url: 'track-rule/' + _this.attr('id'),
        success: function(data){
            _this.removeClass('track');
            _this.removeClass('btn-outline-success');
            _this.addClass('untrack');
            _this.addClass('btn-outline-info');
            _this.text("Не отслеживать");
            _this.unbind(); 
            _this.click(untrack);
        }
    })
}
function untrack(){
    _this = $(this);
    $.ajax({
        url: 'untrack-rule/' + _this.attr('id'),
        success: function(data){
            _this.removeClass('untrack');
            _this.removeClass('btn-outline-info');
            _this.addClass('track');
            _this.addClass('btn-outline-success');
            _this.text("Отслеживать");
            _this.unbind(); 
            _this.click(track);
        }
    })
}
</script>
{% endblock %}